@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<button class="btn btn-primary" @onclick="ViewUserData">Ver Dados do Usuário</button>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void ViewUserData()
    {
        NavigationManager.NavigateTo("/userdata");
    }
}
