@page "/login"
@using BusinessLogic.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h2>Login</h2>

<form>
    <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" class="form-control" id="username" @bind="Model.Username" required>
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" @bind="Model.Password" required>
    </div>
    <button type="button" class="btn btn-primary" @onclick="HandleLogin">Entrar</button>
</form>

@code {
    private AuthModel Model { get; set; } = new AuthModel();
    private string Token { get; set; }

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("/api/Auth/token", Model);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResult>();
            Token = result.Token;
            // Armazene o token em algum lugar (por exemplo, cookie, armazenamento local) para uso posterior

            // Redirecionar para uma página após o login bem-sucedido
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            Console.WriteLine("Falha ao fazer o login.");
        }
    }

    public class LoginResult
    {
        public string Token { get; set; }
    }
}
